<div class="card card-body">
    <div class="container-fluid config card-body pl-2 pr-2">
        <span class="font-p pl-2">&nbsp;Seu carrinho tem 25 itens.</span><br>
        <div class="dropdown-divider"></div>

        <div class="row">
            <span class="font-p pl-2 col-6 pl-4">&nbsp;Frete</span> <span class="font-p font-italic font-weight-bold col-6 pr-4 d-flex flex-row-reverse">R$ 25,00</span><br>
            <span class="font-p pl-2 col-6 pl-4">&nbsp;Valor Total</span> <span class="font-p font-italic font-weight-bold col-6 pr-4 d-flex flex-row-reverse">R$ 64.525,00</span><br>
        </div>

        <span class="d-flex flex-row-reverse">
            <button type="submit" class="btn btn-info no-space-top mb-1 mt-2 mr-2" title="Finalizar Pedido">&nbsp;Finalizar Pedido&nbsp;</button>
        </span>

        <div class="dropdown-divider"></div>

        <div class="row ml-1 mt-1">
            <div class="col-3 bg-primary pad-0">
                <div class="product-cart-image" style="background-image: url('{{ main.urlImage }}/camiseta.jpg')">
                    <a itemprop="url" href="" title="olhando o produto"><img itemprop="image" class="opac" src="{{ main.urlImage }}/camiseta.jpg" class="img-fluid" alt="" title=""></a>
                </div>
            </div>

            <div class="col-7 pad-0">
                <a itemprop="url" href="" title="olhando o produto">
                    &nbsp;Camiseta LDY<br>
                    &nbsp;XG<br>
                    &nbsp;5 itens<br>
                    <span class="font-p font-italic font-weight-bold">&nbsp;R$999,00</span>
                </a>
            </div>

            <div class="col-1 d-flex align-items-center pad-0">
                <a itemprop="url" href="{{ main.urlBase }}/lista-de-desejos" title="Excluir Produto"><i class="material-icons font-weight-bold">close</i></a>
            </div>
        </div>

        <div class="dropdown-divider mt-1"></div>

        <div class="row ml-1 mt-1">
            <div class="col-3 bg-primary pad-0">
                <div class="product-cart-image" style="background-image: url('{{ main.urlImage }}/camiseta.jpg')">
                    <a itemprop="url" href="" title="olhando o produto"><img itemprop="image" class="opac" src="{{ main.urlImage }}/camiseta.jpg" class="img-fluid" alt="" title=""></a>
                </div>
            </div>

            <div class="col-7 pad-0">
                <a itemprop="url" href="" title="olhando o produto">
                    &nbsp;Camiseta MindSet<br>
                    &nbsp;M<br>
                    &nbsp;9 itens<br>
                    <span class="font-p font-italic font-weight-bold">&nbsp;R$235,97</span>
                </a>
            </div>

            <div class="col-1 d-flex align-items-center pad-0">
                <a itemprop="url" href="{{ main.urlBase }}/lista-de-desejos" title="Excluir Produto"><i class="material-icons font-weight-bold">close</i></a>
            </div>
        </div>

        <div class="dropdown-divider mt-1"></div>

        <div class="row">
            <span class="font-p pl-2 col-6 pl-4">&nbsp;Frete</span> <span class="font-p font-italic font-weight-bold col-6 pr-4 d-flex flex-row-reverse">R$ 25,00</span><br>
            <span class="font-p pl-2 col-6 pl-4">&nbsp;Valor Total</span> <span class="font-p font-italic font-weight-bold col-6 pr-4 d-flex flex-row-reverse">R$ 64.525,00</span><br>
        </div>

        <span class="d-flex flex-row-reverse">
            <button type="submit" class="btn btn-info no-space-top mb-1 mt-2 mr-2" title="Finalizar Pedido">&nbsp;Finalizar Pedido&nbsp;</button>
        </span>
    </div>
</div>