<div class="card card-body">
    <div class="container-fluid config card-body pl-2 pr-2">
        <span class="font-italic font-p pl-2">Olá {{ main.sessionLogin.userName }}</span>

        <div class="dropdown-divider mt-1"></div>

        <a itemprop="url" href="{{ main.urlBase }}/lista-de-desejos" title="Lista de Desejos"><span class="d-flex align-items-center font-m pt-2"><i class="material-icons icon-config text-center">favorite</i>&nbsp;Lista de Desejos</span></a>
        <a itemprop="url" href="{{ main.urlBase }}/comparar-produtos" title="Comparar Produtos"><span class="d-flex align-items-center font-m pt-2"><i class="material-icons icon-config text-center">remove_red_eye</i>&nbsp;Comparar Produtos</span></a>
        <a itemprop="url" href="{{ main.urlBase }}/logout" title="Sair da minha Conta"><span class="d-flex align-items-center font-m pt-2"><i class="material-icons icon-config text-center">power_settings_new</i>&nbsp;Sair</span></a>
        <a itemprop="url" href="{{ main.urlBase }}/minha-conta" title="Minha Conta"><span class="d-flex align-items-center font-m pt-2"><i class="material-icons icon-config text-center">how_to_reg</i>&nbsp;Minha Conta</span></a>
        <a itemprop="url" href="{{ main.urlBase }}/finalizar Pedido" title="Finalizar Pedido"><span class="d-flex align-items-center font-m pt-2 pb-3"><i class="material-icons icon-config text-center">thumb_up_alt</i>&nbsp;Finalizar Pedido</span></a>
    </div>
</div>