<div class="container-limit" id="nav-tabContentStore">
    <div class="row d-flex justify-content-center">
        <div class="col-sm-12 col-md-6 col-lg-4 ads mt-1 mb-1">
            <img class="d-block w-100 img-fluid" srcset="{{ main.urlImage }}/comprar-no-atacado-png.png" alt="{{ main.urlImage }}" title="testando pra ver">
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4 d-none d-lg-block ads mt-1 mb-1">
            <img class="d-block w-100 img-fluid" srcset="{{ main.urlImage }}/entrega-e-troca.png" alt="{{ main.urlImage }}" title="testando pra ver">
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4 ads mt-1 mb-1">
            <img class="d-block w-100 img-fluid" srcset="{{ main.urlImage }}/liquidação-2018.png" alt="{{ main.urlImage }}" title="testando pra ver">
        </div>
    </div>
</div>

<div class="container-fluid products">
    <div class="container-limit text-center text-md-left text-white">
        Compre em até 12x ou ganhe 5% de desconto à vista
    </div>
</div>